.bg-header {
    background-color: rgb(39, 36, 36);
}

.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.haxa{
  border-bottom: 100px solid lightsalmon;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  
}






.back {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .forward {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  } 

  .removeIcon{
    position: absolute;
    top: 86%;
    left: 7%;
  }
  
  .removeIcon2{
    position: absolute;
    top: 86%;
    left: 12%;
  }
  
  .removeIcon3{
    position: absolute;
    top: 86%;
    left: 17%;
  }

  .slideactive{
    
 display: flex;
  }
  
  
  .w{
      width: 44rem; 
     
  }

  .h{
    height: 39rem;
  }